<h1>所有订单</h1>
<p>
    <a href="/">首页</a>
    <a href="/goods">菜谱</a>
    <a href="/merchants">店铺</a>
</p>
<ul>
   <%  @order_merchants.each do | merchant_id, price| %>
       <li>
              订<%= show_merchanrt_name(merchant_id) %> 店一共 <%= price %> 钱
       </li>
   <% end %>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>用户名</th>
      <th>邮箱</th>
      <th>菜名</th>
      <th>店名</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.try(:name)%></td>
        <td><%= order.user.email %></td>
        <td><%= order.good.name %></td>
        <td><%= order.good.merchant.name %></td>
        <td><%= link_to '删除', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
