<h1>所有店铺</h1>
<p>
    <a href="/">首页</a>
    <a href="/orders">订单</a>
    <a href="/goods">菜谱</a>
    <%= link_to '增加一个店', new_merchant_path %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>店名</th>
      <th>地址</th>
      <th>联系方式</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.id %></td>
        <td><%= merchant.name %></td>
        <td><%= merchant.address %></td>
        <td><%= merchant.phone %></td>
        <td><%= link_to '查看', merchant %></td>
        <td><%= link_to '编辑', edit_merchant_path(merchant) %></td>
        <td><%= link_to '删除', merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
