<h1>菜谱</h1>
<p>
    <a href="/">首页</a>
    <a href="/orders">订单</a>
    <a href="/merchants">店铺</a>
    <%= link_to '增加一个菜', new_good_path %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>菜名</th>
      <th>描述</th>
      <th>价格</th>
      <th>店名</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= good.name %></td>
        <td><%= good.describe %></td>
        <td><%= good.price %></td>
        <td><%= good.merchant.try(:name) %></td>
        <td><%= link_to '查看', good %></td>
        <td><%= link_to '编辑', edit_good_path(good) %></td>
        <td><%= link_to '删除', good, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</br>
