/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.dinner-bg{
  background: orange;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  margin:0px;
}
.dinner-wel{
  color: #888;
}
.dinner-order{
  color: orange;
  font-size: 18px;
  font-weight: bold;
}
.dinner-shop-name{
  margin-bottom: 30px;
  background: beige;
}
.dinner-wel-word{
  color: orange;
}
.dinner-nav{
  margin-bottom: 10px;
}
.dinner-shop-name > .nav-pills > li.active > a,
.dinner-shop-name > .nav-pills > li.active > a:hover,
.dinner-shop-name > .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: orange;
}
.dinner-goods.table > thead > tr > th,
.dinner-goods.table > tbody > tr > th,
.dinner-goods.table > tfoot > tr > th,
.dinner-goods.table > thead > tr > td,
.dinner-goods.table > tbody > tr > td,
.dinner-goods.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.dinner-goods.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
