<h3 class="dinner-bg">订 餐 宝</h3>
<%= bootstrap_flash %>
<!-- <p id="notice"><%= notice %></p> -->
<div class="row">
  <h5 class="dinner-wel col-md-3"><span class="dinner-wel-word">欢迎</span> <%= current_user.email%>!</h5>
  <h5 class="dinner-wel col-md-9">
  <% if order? %>
      <a href="/goods/cancel">取消我的点餐</a>
  <% end %>
      <%= link_to '退出', destroy_user_session_path, method: :delete %>
  </h5>
</div>
<% if current_user.admin? %>
<div class="dinner-nav row col-md-12">
    <h5><a href="/orders">订单</a>
    <a href="/goods">菜谱</a>
    <a href="/merchants">店铺</a></h5>
  </div>
<% end %>

<% if @order_items.present? %>
    <div class="row">
      <p class="col-md-12 dinner-order">已有订单</p>
    </div>
    <ul class="list-group">
        <% @order_items.each do | merchant_id, orders | %>
            <li class="list-group-item">
                订 <b><%= show_merchanrt_name(merchant_id) %></b> 店的有<%= orders.size %>人,已点的菜有 <b><%= show_goods_name(orders) %></b>
            </li>
        <% end %>
    </ul>
<% end %>

<div class="row">
    <p class="col-md-12 dinner-order">选择餐厅</p>
</div>
<div class="dinner-shop-name">
  <ul class="nav nav-pills">
    <% @merchants.each do |merchant |%>
        <li data-merchant-id="<%= merchant.id %>" ><a href="javascript:void(0);"><h5><%= merchant.name %></h5></a></li>
    <% end %>
  </ul>
</div>
<table class="dinner-goods table table-hover table-condensed">
  <thead>
    <tr class="warning">
      <th>菜名</th>
      <th>价格</th>
      <th>点击选择</th>
    </tr>
  </thead>

  <tbody>
    <% @goods.each do |good| %>
      <tr data-merchant-id=<%= good.merchant_id %>>
          <td><%= good.name %></td>
          <td><%= good.price %></td>
          <td>
            <%= link_to '选菜', select_good_path(good), method: :post, class: "dinner-goods btn btn-warning"%>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
